  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <div>
        <a href="/posts" class="readit"<%= title === 'Readit' ? 'active' : '' %>>
          <i class="fas fa-solid fa-robot" style="color: #fa9d72;"></i>
          READIT
        </a>
      </div>
      <div>
        <a href="/posts/new" class="create-post"<%= title === 'Create Post' ? 'active' : '' %>>
          <i class="fas fa-solid fa-plus" style="color: white;"></i>
          Create
        </a>
        <a href="/auth/logout" class="right">
          <button id="logout-btn" type="submit">Logout</button>
        </a>
      </div>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
