html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #202020;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  /* font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif; */

  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  background-color: #171717;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  height: 55px;
  /* min-height: 60px; */
  border-bottom: 1px solid rgb(85, 85, 85);
}

nav > :nth-child(1) {
  font-weight: 700;
}

nav > :nth-child(2) {
  margin-left: auto;
}

nav > div > a {
  margin: 0 6px;
  padding: 8px 8px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

/* nav > a:hover {
  background-color: rgb(70, 70, 70);
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#logout-btn {
  font-size: 16px;
}

.readit{
  margin-right: auto;
}

.create-post {
  /* display: flex;
  flex-wrap: nowrap; */
  margin-left: auto;

  /* margin-right: auto; */
}

.create-post:hover {
  background-color: rgb(70, 70, 70);
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 8px 8px 0 8px;
}

.author {
  margin-top: 20px;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color:white;
  background-color: rgb(53, 53, 53);
  /* border: 1px solid #fa9d72; */
  border: none;
}

button:hover {
  background-color: rgb(70, 70, 70);
}