html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #1a1a1a;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px solid grey;
}

nav > a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 8px 8px 0 8px;
}

.author {
  margin-top: 20px;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color:white;
  background-color: rgb(53, 53, 53);
  border: 1px solid salmon;
}