.post-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-bottom: 1px solid grey;
  padding: 5px 0;
  /* border-bottom: 1px solid grey; */
  /* margin-bottom: 12px; */
}

.author-div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.content-div {
  margin-left: 8px;
}

.content-div > a {
  font-size: 22px;
}

.content-div > a:hover {
  font-weight: 450;
}

.social-div {
  display: flex;
  align-items: center;
  margin: 0 0 8px 8px;
}

.social-btn {
  padding-top: 4px;
  margin-right: 8px;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color:white;
  background-color: rgb(53, 53, 53);
  border: 1px solid salmon;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
