.post-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 2px solid orange;
  margin-bottom: 12px;
}

.author-div {
  display: flex;
  align-items: center;
}

.content-div {
  margin-left: 8px;
}

a {
  color: white;
  text-decoration: none;
}
