.post-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 200px;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
  /* margin-bottom: 12px; */
}

.author-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.author-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-div {
  background-color: rgb(53, 53, 53);
  margin-top: 8px;
  padding: 5px 8px;
  border-radius: 50%;
}

.back-div:hover {
  background-color: rgb(70, 70, 70);
}

/* .fa-arrow-left {
  margin-top: 8px;
} */

.author-section-2 {
  display: flex;
  align-items: center;
}

.author-section-2 > :nth-child(2){
  margin-left: 5px;
}

.content-div {
  margin-top: 5px;
}


#title {
  font-size: 24px;
  
  margin: 0;
}

.post-show-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  background-color: rgb(53, 53, 53);
  text-align: center;
  border: none;
}

.social-div {
  display: flex;
  align-items: center;
  /* margin: 0 0 8px 8px; */
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 30px;
  width: 100px;
  border-radius: 25px;
  color:white;
  background-color: rgb(53, 53, 53);
  border: 1px solid salmon;
}

.social-btn > :nth-child(1) {
  margin: 0 8px;
}

.social-btn > :nth-child(2) {
  margin: 0 8px;
}