.post-div {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 200px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  /* margin-bottom: 12px; */
}

.author-div {
  display: flex;
  align-items: center;
}

.content-div {
  margin-left: 8px;
}

.content-div > a {
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
  
}