.post-div {
  display: flex;
  flex-direction: column;
  width: 650px;
  min-height: 179px;
  /* border-bottom: 1px solid rgb(85, 85, 85); */
  padding-bottom: 8px;
  margin-top: 4px;
}

.comment-div {
  /* border-bottom: 1px solid rgb(85, 85, 85); */
  /* padding-bottom: 8px; */
  width: 600px;
}

.author-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.author {
  padding-top: 5px;
}

.author-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-div {
  background-color: rgb(53, 53, 53);
  margin-top: 8px;
  padding: 5px 8px;
  border-radius: 50%;
}

.back-div:hover {
  background-color: rgb(70, 70, 70);
}

/* .fa-arrow-left {
  margin-top: 8px;
} */

.author-section-2 {
  display: flex;
  align-items: center;
}

.author-section-2 > :nth-child(2){
  margin-left: 5px;
}

.content-div {
  margin-top: 5px;
}

.content-div > p {
  margin: 10px 0;
}

.comment-content-div {
  /* margin-top: 5px; */
  padding-top: 0;
  margin-left: 48px;
}

.comment-content-div > * {
  margin-top: 0;
}


#title {
  font-size: 24px;
  margin: 0;
}

.post-show-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  background-color: rgb(53, 53, 53);
  text-align: center;
  border: none;
}

.social-div {
  display: flex;
  align-items: center;
  /* margin: 0 0 8px 8px; */
}

.comment-social-div {
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 25px;
  width: 74px;
  border-radius: 25px;
  color:white;
  background-color: rgb(53, 53, 53);
  /* background-color: rgba(255, 0, 0, .7); */
}

.social-btn > * {
  margin: 0 5px;
}

.social-btn:hover {
  background-color: rgb(70, 70, 70);
}

#dislike {
  padding: 2px 6px;
  border-radius: 50%;
}

#like {
  padding: 2px 6px;
  border-radius: 50%;
}

.red {
  background-color: rgba(255, 0, 0, .7);
}

.green {
  background-color: rgba(50, 205, 50, .7);
}

.red:hover {
  background-color: rgba(255, 0, 0, .7);
}

.green:hover {
  background-color: rgba(50, 205, 50, .7);
}

#dislike:hover {
  background-color: rgba(255, 0, 0, .7);
}

#like:hover {
  background-color: rgba(50, 205, 50, .7);
}

.comment-div {
  margin-bottom: 8px;
  margin-left: auto;
  width: 620px;
}

/* .comment-show {
  
  margin-right: 0;
  width: 600px;
} */

#comment-form {
  display: flex;
  align-items: flex-start;
}

#comment-form > :nth-child(2) {
  margin-top: 6px;
}

#comment-input {
  margin: 8px 8px 8px 0;
  width: 610px;
  height: 30px;
  border-radius: 25px;
  padding: 6px 12px;
  background: none;
  border: 1px solid rgb(85, 85, 85);
  color: white;
}

#comment-input:focus {
  border-radius: 12px;
  height: 80px
}


#comment-form-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  background-color: rgb(53, 53, 53);
  text-align: center;
  border: none;
}

#comment-form-button:hover {
  background-color: rgb(70, 70, 70);
}

#edit-comment-form {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

#edit-comment-form > :nth-child(2) {
  margin-top: 6px;
}

#text-update-input {
  margin: 4px 8px 8px 0;
  width: 550px;
  height: 80px;
  border-radius: 12px;
  padding: 6px 12px;
  background: none;
  border: 1px solid rgb(85, 85, 85);
  color: white;
}

#post-image {
  display: flex;
  align-items: center;
  object-fit: scale-down;
  max-width: 650px;
  margin: 10px auto 0 auto;
  background-color: rgb(45, 45, 45);
  border-radius: 12px;
}

#no-comments {
  text-align: center;
  font-weight: 575;
}